################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySummary/02-Networking/02- Services/Projects/1/Backend/Backend-Solution/.vs/Backend-Solution
/MySummary/02-Networking/02- Services/Projects/1/Backend/Backend-Solution/.vs/ProjectEvaluation
/MySummary/02-Networking/02- Services/Projects/1/Code-Repository/Backend/Backend-Solution/.vs
